@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$font-stack: 'Poppins', sans-serif;
$color-contrast: rgb(27, 177, 19);
$color-bgdark: #001219;

@keyframes xxx {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
